.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .7em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.input {
    padding: .7em 0;
    margin: .7em 0;
    width: 300px;
    border: 0;
    border-bottom: 1px solid grey;
    background-color: #ffffff;
    font-size: .7em;
    box-shadow: 0 0 0px 1000px #ffffff inset;
    border-radius: 0;
}


.submitBtn {
    margin: .7em 3em;
    padding: .7em;
    border: 3px solid #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    color: #000000;
    transition: .3s;
    transform: scale(1);
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 0;
}

.submitBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: scale(0.9);
}

.error {
    padding: .7em;
    margin: .7em;
    text-align: center;
    background-color: red;
}

.redirect {
    margin-top: 1em;
    text-align: center;
}

.redirectLink {
    padding-left: .5em;
    text-decoration: none;
}