.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loggedInAs {
    font-size: 1em;
}

.username {
    margin-right: 1em;
    margin-left: .5em;
    font-weight: 700;
}

.logoutBtn {
    padding: .7em;
    border: 3px solid #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    color: #000000;
    transition: .3s;
    cursor: pointer;
    background-color: transparent;
}

.logoutBtn:hover {
    color: #ffffff;
    background-color: #000000;
}

@media screen and (max-width: 500px) {
    .loggedInAs {
        display: none;
    }
}