.header {
    padding: .7em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    padding: .7em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeFocus input:focus,
.removeFocus a:focus,
.removeFocus button:focus {
    outline: none;
}