.header {
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeFocus input:focus,
.removeFocus a:focus,
.removeFocus button:focus {
    outline: none;
}